

/* common-icon start */
/* common-icon end */

/* common-class start */
._cont_ {
  width: $cont-width;
  margin: 0 auto;
}
._link_{
  display:block;
  color:$color-point;
  font-weight:800;
}
/* common-class end */
