/* common-size start */
$cont-width: 1280px;
$head-height:100px;
$foot-height:300px;
$main-min-height:100vh;
/* common-size end */

/* common-color start */
$color-accent:#FF4081;
$color-point:#03A9F4;
$color-dark:#FFA000;
$color-main:#FFC107;
$color-light:#FFECB3;
$color-txt-dark:#212121;
$color-txt-sub:#757575;
$color-txt-light:#FFFFFF;
$color-div:#d6d6d6;
$color-div-dark:#BDBDBD;
$color-div-sub:#EFEFEF;
/* common-color end */